openapi: 3.1.0
info:
  title: CrowdSplit API
  version: 1.0.0
  description: |
    CrowdSplit is a payment-orchestration API that routes payment,
    payout, transfer, buy/sell, KYC, and wallet operations across
    multiple upstream providers (Stripe, Bridge, and others) behind a
    single merchant-facing contract.

    ## Authentication

    Three auth schemes are in use:

    - **`bearerAuth`** — a JWT issued via `POST /api/v1/merchant/token/grant`
      using your `client_id` + `client_secret`. Pass as
      `Authorization: Bearer <token>`. This is the default for every
      merchant-facing operation unless an operation documents otherwise.
    - **`accessTokenAuth`** — user-scoped JWT (obtained via
      `POST /api/auth/signin`) passed in the `x-access-token` header.
      Used for admin/internal operations.
    - **`refAppKeyAuth`** — subscription-service shared key passed in
      the `Ref-App-Key` header, combined with `Payment-Type: recurring_payment`.
      Used only for recurring-payment flows.

    ## Webhooks

    CrowdSplit delivers webhooks as `POST` requests to merchant-registered
    URLs. Every delivery carries the envelope
    `{ id, event, category, data }` and two HTTP headers:

    - `CrowdSplit-Signature` — HMAC-SHA256 over the raw body, formatted
      as `t={unix-ts},v1={hex-hmac}`. Verify with the secret returned at
      webhook registration.
    - `CrowdSplit-Timestamp` — seconds since epoch at dispatch. Reject
      if the skew exceeds 5 minutes.

    Use the envelope's `id` for idempotency — the same `id` is used for
    all retry attempts of a given notification.

    Failed deliveries are retried on the contract's exponential schedule
    (§2.9.3): **7 attempts** at 0 / 30s / 5min / 30min / 2h / 8h / 24h
    from initial dispatch. After the final attempt the notification moves
    to a **dead-letter** state — list with
    `GET /api/v1/merchant/webhooks/notifications?status=dead_lettered`
    and replay via the notifications surface.

    Webhook bodies are capped at **256 KB** (serialized, uncompressed).
    On the rare oversized payload, only `provider_response` is replaced
    by a truncated summary (`truncated: true`) whose `full_resource_url`
    serves the full snapshot — see the **Provider Snapshots** operations.

    ## Pagination

    List endpoints accept `limit` and `offset` query parameters. The
    response envelope is `{ count, <resource>_list }`. Default and
    maximum `limit` values vary per resource; see each endpoint.

    ## Errors

    Every 4xx/5xx response uses the shared `ApiErrorResponse` schema:
    `{ msg, data: null, provider_message? }`. `provider_message` is
    present only when the failure originated from an upstream provider,
    and forwards the provider's own error text verbatim.

    ## Environments

    The `servers` list below describes production, sandbox, and local
    environments. Override the server URL in your client or via the
    generated Postman / Bruno collections.
  contact:
    name: CrowdSplit Engineering
    url: https://github.com/oak-network/crowdsplit
  license:
    name: ISC
servers:
  - url: https://payments.oaknetwork.org
    description: Production
  - url: https://sandbox-payments.oaknetwork.org
    description: Sandbox
  - url: '{baseUrl}'
    description: Local development / self-hosted
    variables:
      baseUrl:
        default: http://localhost:3000
        description: Base URL of a locally running CrowdSplit instance
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: |
      Sign up, sign in, token refresh, password reset, and email
      verification. Obtain user-scoped `accessTokenAuth` JWTs here.
  - name: Merchants
    description: |
      Merchant profile, API-key management, merchant-token grant/refresh,
      and merchant-webhook registration/listing/toggling.
  - name: Customers
    description: |
      Create, update, list, and sync end-customers (subjects).
      Covers customer-level files and balances.
  - name: Payment Methods
    description: |
      Add, list, retrieve, and archive payment methods on a customer
      (card, PIX, bank account, wallet, etc.).
  - name: Provider Registration
    description: |
      KYC / provider-registration flow for a customer on each upstream
      provider, plus fetching the field schema and polling status.
  - name: Payments
    description: |
      Create payments, confirm / capture / cancel / refund. Supports
      card, PIX, and installment payments across providers.
  - name: Payouts
    description: Create outbound fiat payments to customer-owned accounts.
  - name: Transfers
    description: Move value between internal wallets.
  - name: Buy / Sell
    description: Stablecoin / fiat buy and sell flows.
  - name: Wallets
    description: Read wallet balances and trigger wallet trades.
  - name: Transactions
    description: Read transaction history, single transactions, and settle.
  - name: Disputes
    description: |
      Manage provider-originated disputes — upload evidence, submit,
      and close.
  - name: Subscriptions
    description: |
      Subscription plans and subscriber lifecycle, including recurring
      payment initiation (uses `refAppKeyAuth`).
  - name: Tax
    description: Calculate taxes for a given transaction shape.
  - name: Files
    description: Upload, list, retrieve, and delete merchant/customer files.
  - name: Generic
    description: |
      Proxy endpoint that forwards provider-specific calls whose shape
      varies by upstream provider.
  - name: Statuspage
    description: |
      CS Admin/Owner endpoints for managing Atlassian Statuspage scheduled
      maintenance windows. Incidents are managed automatically by the sync
      cron based on health probe transitions.
  - name: System
    description: Health check and service-metadata endpoints.
  - name: Webhooks
    description: |
      Manage the webhook URLs registered on a merchant (create, update,
      delete, toggle, and list).
  - name: Webhook Events
    description: |
      Reference list of every webhook event CrowdSplit can deliver to a
      merchant URL. See the root-level `Webhooks` section above for the
      envelope shape, delivery headers, retry policy, and signing scheme.
  - name: Provider Snapshots
    description: |
      Fetch the full untruncated `provider_response` for a specific resource
      version (§10h). Only for resolving webhook payloads truncated by the
      §2.9.3 256KB cap (`provider_response.truncated: true`) — follow the
      payload's `full_resource_url`. Not for routine snapshot access; use
      the per-resource GET endpoints for normal reads.
paths:
  /api/auth/signup:
    post:
      operationId: signup
      summary: User sign up
      description: Register a new user account with email and password. A verification email is sent upon successful registration.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: user@example.com
                password:
                  type: string
                  description: User's password
                  example: SecurePass123!
      responses:
        '200':
          description: User created successfully and verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: User Created Successfully!, Created email verification token!, Verification link emailed to user!, User Created Successfully!
                data: null
        '400':
          description: User already exists or email delivery failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/signup/verify-email:
    get:
      operationId: verifySignupEmail
      summary: Verify email address
      description: Verifies the user's email address using a token sent during signup.
      tags:
        - Auth
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: JWT verification token sent to the user's email
          schema:
            type: string
      responses:
        '200':
          description: Email verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Email Verification Successful!
                data: null
        '400':
          description: Invalid or expired token, or email already verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/signup/verify-email/resend:
    post:
      operationId: resendVerificationEmail
      summary: Resend verification email
      description: Resends the email verification link to the specified email address.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to resend verification to
                  example: user@example.com
      responses:
        '200':
          description: Verification email resent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Email Verification Token Updated!, Sent Verification Email!
                data: null
        '400':
          description: Email delivery failed or token error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/signin:
    post:
      operationId: signin
      summary: Sign in
      description: Authenticate a user with email, password, and role. Returns JWT access and refresh tokens.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - role
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: user@example.com
                password:
                  type: string
                  description: User's password
                  example: SecurePass123!
                role:
                  type: string
                  description: Role to sign in as
                  enum:
                    - ROLE_ADMIN
                    - ROLE_PLATFORM_ADMIN
                    - ROLE_PLATFORM_USER
                  example: ROLE_PLATFORM_ADMIN
      responses:
        '200':
          description: Sign in successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Sign In Successful!
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: User ID
                          email:
                            type: string
                            format: email
                          accessToken:
                            type: string
                            description: JWT access token
                          refreshToken:
                            type: string
                            description: JWT refresh token
                          createdMillis:
                            type: integer
                            description: User creation timestamp in milliseconds
        '400':
          description: Email not verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/token/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Generate a new access token and refresh token using a valid refresh token.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: JWT refresh token obtained from sign in
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Successfully Created New Refresh Token!
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                            description: New JWT access token
                          refreshToken:
                            type: string
                            description: New JWT refresh token
        '400':
          description: Refresh token expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/token/validate:
    post:
      operationId: validateToken
      summary: Validate access token
      description: Check whether an access token is valid and not expired. Token can be passed via x-access-token header or query parameter.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      parameters:
        - name: x_access_token
          in: query
          required: false
          description: Access token (alternative to x-access-token header)
          schema:
            type: string
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Token is Valid!
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: User ID associated with the token
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /api/auth/reset-password:
    post:
      operationId: resetPassword
      summary: Request password reset
      description: Send a password reset link to the provided email address.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address associated with the account
                  example: user@example.com
      responses:
        '200':
          description: Password reset link sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Reset password link emailed to user!
                data: null
        '400':
          description: Email delivery failed or reset already requested recently
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/reset-password/token-verify:
    get:
      operationId: verifyResetPasswordToken
      summary: Verify password reset token
      description: Check whether a password reset token is valid and not expired.
      tags:
        - Auth
      security: []
      parameters:
        - name: resetPasswordToken
          in: query
          required: true
          description: Reset password token sent to user's email
          schema:
            type: string
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Token is Valid!
                data: null
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/update-password:
    post:
      operationId: updatePassword
      summary: Update password
      description: Set a new password using a valid reset password token.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_password
                - reset_password_token
              properties:
                new_password:
                  type: string
                  description: The new password to set
                reset_password_token:
                  type: string
                  description: Reset password token from email
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Password Updated Successfully!
                data: null
        '400':
          description: Invalid token or server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/signin/2fa:
    post:
      operationId: signin2fa
      summary: Complete sign-in with a 2FA code
      description: |
        Public endpoint. Exchange the short-lived 2FA challenge token returned by
        `POST /api/auth/signin` (when 2FA is enabled) plus a TOTP or backup code
        for a full session. The refresh token is also set as an HTTP-only cookie.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - twoFactorToken
                - code
              properties:
                twoFactorToken:
                  type: string
                  description: Challenge token from signin (tfaPending, 5m lifetime)
                code:
                  type: string
                  description: TOTP code or single-use backup code
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          roles:
                            type: array
                            items:
                              type: string
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
                          createdMillis:
                            type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/logout:
    post:
      operationId: logout
      summary: Log out
      description: Revoke the current session and clear the refresh-token cookie.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/auth/me:
    get:
      operationId: getCurrentUser
      summary: Get the current user
      description: |
        Return the authenticated user's profile, roles, 2FA state, and merchant
        link (including their per-merchant role, the source merchant-route
        authorization enforces — so clients derive what to show from the same
        truth the backend checks).
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            description: User UID
                          email:
                            type: string
                            format: email
                          roles:
                            type: array
                            description: Global roles resolved from the database
                            items:
                              type: string
                          twoFactorEnabled:
                            type: boolean
                            description: Whether the user has completed TOTP enrollment
                          mfaSetupRequired:
                            type: boolean
                            description: |
                              True when this deployment requires the caller to enroll 2FA
                              before admin functions will work — i.e. MFA enforcement is on,
                              the caller holds a CS role, and they have not enrolled. Always
                              false for platform-side users, for enrolled CS staff, and where
                              enforcement is off. Clients use it to route to enrollment
                              instead of walking into a 403.

                              Point-in-time and scoped to the MFA gate: an admin 2FA reset can
                              flip it mid-session (the caller's access token outlives the
                              reset), and the admin IP allowlist can deny independently of it.
                              Treat it as a hint and still handle a 403 whose failure reason is
                              `mfa_required`.
                          merchant:
                            type: object
                            nullable: true
                            description: Merchant link, or null for CS staff with no merchant
                            properties:
                              id:
                                type: integer
                              role:
                                type: string
                                nullable: true
                                description: The caller's role on this merchant (merchant_users.role)
                              is_owner:
                                type: boolean
                                description: Whether the caller owns this merchant
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/auth/roles:
    get:
      operationId: listRoleCatalog
      summary: List the role catalog
      description: |
        Role metadata catalog — the canonical labels and descriptions for
        every CS and platform role, as rendered by dashboards. Static per
        backend version, so adding or renaming a role propagates without a
        frontend release.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Role catalog
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                              description: Role identifier (e.g. ROLE_ADMIN)
                            scope:
                              type: string
                              enum:
                                - cs
                                - platform
                              description: Which side of the wire the role belongs to
                            label:
                              type: string
                              description: In-context display name
                            qualifiedLabel:
                              type: string
                              description: Disambiguated name for cross-side contexts
                            description:
                              type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/auth/me/2fa/enroll:
    post:
      operationId: enroll2fa
      summary: Begin 2FA enrollment
      description: |
        Start TOTP enrollment and return the shared secret and otpauth URL.
        2FA is not active until confirmed via `POST /api/auth/me/2fa/confirm`.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Enrollment started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          secret:
                            type: string
                            description: Base32 TOTP secret (shown once)
                          otpauthUrl:
                            type: string
                            description: otpauth:// URL for QR rendering
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: 2FA already enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/me/2fa/confirm:
    post:
      operationId: confirm2fa
      summary: Confirm 2FA enrollment
      description: |
        Verify a TOTP code to activate 2FA and receive single-use backup codes
        (shown exactly once).
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: TOTP code from the authenticator app
      responses:
        '200':
          description: 2FA activated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          backupCodes:
                            type: array
                            items:
                              type: string
        '400':
          description: No enrollment in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/me/2fa:
    delete:
      operationId: disable2fa
      summary: Disable 2FA
      description: |
        Disable 2FA after re-confirming the account password. Not permitted for
        the CS Owner.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
      responses:
        '200':
          description: 2FA disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Owner must keep 2FA enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/step-up:
    post:
      operationId: stepUp
      summary: Obtain a step-up token
      description: |
        Re-authenticate with the account password (and TOTP code when 2FA is
        enabled) to obtain a short-lived step-up token for sensitive operations.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                code:
                  type: string
                  description: TOTP code, required when 2FA is enabled
      responses:
        '200':
          description: Step-up granted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          stepUpToken:
                            type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/me/sessions:
    get:
      operationId: listSessions
      summary: List active sessions
      description: Return the user's active refresh-token sessions.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Sessions retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            createdAt:
                              type: string
                              format: date-time
                            expiresAt:
                              type: string
                              format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/auth/me/sessions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Session ID to revoke
        schema:
          type: integer
    delete:
      operationId: revokeSession
      summary: Revoke a session
      description: Revoke a specific refresh-token session owned by the user.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Session revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/auth/me/email/change/request:
    post:
      operationId: requestEmailChange
      summary: Request an email change
      description: |
        Request changing the account email. Sends a verification link to the new
        address. The token is returned in the response body only in DEV/TEST.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newEmail
                - password
              properties:
                newEmail:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Email-change requested
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        nullable: true
                        properties:
                          token:
                            type: string
                            description: Confirmation token — only returned in DEV/TEST
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Email already registered to another account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/me/email/change/confirm:
    post:
      operationId: confirmEmailChange
      summary: Confirm an email change
      description: Public endpoint. Redeem the email-change token to update the address.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Email updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            format: email
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Email already registered to another account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/password/change:
    post:
      operationId: changePassword
      summary: Change password
      description: Change the account password after verifying the current password.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/payments:
    post:
      operationId: createPayment
      summary: Create a payment
      description: |
        Create a payment intent with the provided details. Supports multiple payment providers
        (Stripe) and payment methods (Card).

        The request body structure varies by provider and payment method type.
        Field casing note: `provider`, `currency`, `payment_method.type`, and `capture_method`
        are case-insensitive on input (automatically uppercased internally).
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RefAppKeyHeader'
        - $ref: '#/components/parameters/PaymentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              stripeCard:
                summary: Stripe card payment
                value:
                  provider: stripe
                  source:
                    amount: 5000
                    currency: usd
                    customer:
                      id: 550e8400-e29b-41d4-a716-446655440000
                    payment_method:
                      type: card
                      id: 660e8400-e29b-41d4-a716-446655440000
                    capture_method: automatic
                  confirm: true
                  metadata:
                    order_id: ORD-12345
      responses:
        '200':
          description: Payment created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction was Initiated Successfully!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Validation error or invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/payments/{id}/confirm:
    post:
      operationId: confirmPayment
      summary: Confirm a payment
      description: Confirm a previously created payment intent that was not auto-confirmed.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID — `pay_<uuid>` or bare UUID (both accepted)
          schema:
            $ref: '#/components/schemas/PaymentId'
      responses:
        '200':
          description: Payment confirmed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction is in Progress!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid state for confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/capture:
    post:
      operationId: capturePayment
      summary: Capture a payment
      description: Capture a previously authorized payment (for manual capture_method payments).
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID — `pay_<uuid>` or bare UUID (both accepted)
          schema:
            $ref: '#/components/schemas/PaymentId'
      responses:
        '200':
          description: Payment captured
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Payment captured successfully
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Error capturing payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/cancel:
    post:
      operationId: cancelPayment
      summary: Cancel a payment
      description: |
        Cancel a payment that is in INITIATED status. Only PAYMENT type transactions
        can be cancelled; other transaction types will return an error.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID — `pay_<uuid>` or bare UUID (both accepted)
          schema:
            $ref: '#/components/schemas/PaymentId'
      responses:
        '200':
          description: Payment cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction cancellation successful
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid state or wrong transaction type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/refund:
    post:
      operationId: refundPayment
      summary: Refund a payment
      description: |
        Create a refund for a completed payment. Partial refunds are supported by
        specifying an amount less than the original. Total refund amount (including
        previous refunds) cannot exceed the original transaction amount.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID — `pay_<uuid>` or bare UUID (both accepted)
          schema:
            $ref: '#/components/schemas/PaymentId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                  description: Refund amount in smallest currency unit. Omit for full refund.
                metadata:
                  type: object
                  description: Additional metadata for the refund
                  additionalProperties: true
            example:
              amount: 2500
              metadata:
                reason: Customer request
      responses:
        '200':
          description: Refund initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction was Initiated Successfully!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Refund amount exceeds original or invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant:
    post:
      operationId: createMerchant
      summary: Create a merchant account
      description: Create a new merchant with the provided business details.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchantRequest'
            example:
              legal_name: Acme Corp
              address: 123 Business St, Suite 100
              website: https://acme.example.com
              tax_number: '12345678901'
      responses:
        '200':
          description: Merchant created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantResponse'
        '400':
          description: Validation error or merchant already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      operationId: listMerchants
      summary: List the caller's merchants
      description: |
        Return the merchants the authenticated user is a member of. A Platform
        Admin owns at most one merchant, so this is typically a 0- or 1-item list.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Merchants retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/merchant/key/create:
    get:
      operationId: createMerchantKey
      summary: Create merchant API keys
      description: Generate API key pair (public + secret) for a merchant. The secret key is only shown once.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Keys generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          secretKey:
                            type: string
                            description: Secret key (only shown once, store securely)
                          publicKey:
                            type: string
                            description: Public key
        '400':
          description: Error generating keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/token/grant:
    post:
      operationId: grantMerchantToken
      summary: Grant merchant token
      description: |
        Authenticate using client credentials to obtain a Bearer token for API access.
        This is the primary authentication method for merchant API calls.
      tags:
        - Merchants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantTokenRequest'
            example:
              client_id: app_abc123
              client_secret: sk_live_xyz789
              grant_type: client_credentials
      responses:
        '200':
          description: Token granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTokenResponse'
              example:
                access_token: eyJhbGciOiJIUzI1NiIs...
                token_type: Bearer
                expires_in: 3600000
        '404':
          description: Merchant not found or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant/token/refresh:
    post:
      operationId: refreshMerchantToken
      summary: Refresh merchant token
      description: Generate new access and refresh tokens using a valid refresh token.
      tags:
        - Merchants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Refresh token from previous grant or refresh
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
        '400':
          description: Token expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/util/transfer-date:
    post:
      operationId: calculateTransferDate
      summary: Calculate transfer date
      description: Calculate the next available transfer date based on settlement date, region, and holiday configuration.
      tags:
        - Merchants
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferDateRequest'
      responses:
        '200':
          description: Transfer date calculated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transferDate:
                            type: string
                            format: date-time
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      description: |
        List registered webhooks for the authenticated merchant.
        Cursor-paginated (§2.7); items key `webhook_list`. `count` is never
        included (this endpoint has no non-time filters). Offset/page
        parameters are rejected.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/StartingAfterQuery'
        - $ref: '#/components/parameters/EndingBeforeQuery'
        - $ref: '#/components/parameters/CreatedAtGteQuery'
        - $ref: '#/components/parameters/CreatedAtLteQuery'
        - $ref: '#/components/parameters/UpdatedAtGteQuery'
        - $ref: '#/components/parameters/UpdatedAtLteQuery'
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - has_more
                          - webhook_list
                        properties:
                          has_more:
                            type: boolean
                            description: |
                              True if more records exist beyond this page in the
                              requested direction.
                          webhook_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/WebhookResponse'
    post:
      operationId: registerWebhook
      summary: Register a webhook
      description: Register a new webhook endpoint for the merchant. Returns a signing secret for payload verification.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWebhookRequest'
            example:
              url: https://example.com/webhooks/crowdsplit
              description: Production webhook endpoint
      responses:
        '200':
          description: Webhook registered. Secret is only shown once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/WebhookResponse'
                          - type: object
                            required:
                              - secret
                            properties:
                              secret:
                                type: string
                                description: |
                                  Signing secret for HMAC-SHA256 verification.
                                  Returned ONLY here — it is not retrievable
                                  from any later read (§2.9.2). Store it now.
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/webhooks/event-types:
    get:
      operationId: listWebhookEventTypes
      summary: List webhook event types
      description: |
        Reference catalog of every webhook event CrowdSplit can deliver,
        grouped by category. Use the returned event values in a webhook's
        `event_types` subscription list; an endpoint registered without
        `event_types` receives every event.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Webhook event catalog
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: string
                              description: Event group (e.g. payment, payout)
                            events:
                              type: array
                              items:
                                type: string
                              description: Wire event values in this category
              example:
                msg: Webhook Event Types
                data:
                  - category: payment
                    events:
                      - payment.created
                      - payment.refund.created
  /api/v1/merchant/webhooks/{id}:
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Get details of a specific webhook by ID.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateWebhook
      summary: Update a webhook
      description: Update the URL or description of an existing webhook.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: |
        Remove a registered webhook URL. Deliveries to the deleted URL stop
        immediately (§2.9.9): pending and retrying deliveries are cancelled,
        and replays never target the deleted endpoint. Cancelled deliveries
        remain visible on their notifications' delivery history for audit.
        Merchants migrating endpoints should register the new webhook FIRST,
        run both in parallel, and delete the old one only after cutover.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/webhooks/{id}/toggle:
    patch:
      operationId: toggleWebhookStatus
      summary: Toggle webhook active status
      description: |
        Flip a registered webhook between active and inactive states
        without deleting it. Useful for planned merchant-side maintenance
        windows or temporarily silencing a noisy endpoint. Inactive
        webhooks receive no new dispatches; deliveries already queued
        before the toggle may still fire once before the state takes
        effect.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook status toggled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/webhooks/notifications:
    get:
      operationId: listWebhookNotifications
      summary: List webhook notifications
      description: List all webhook notification events for the merchant with pagination.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/StartingAfterQuery'
        - $ref: '#/components/parameters/EndingBeforeQuery'
        - $ref: '#/components/parameters/CreatedAtGteQuery'
        - $ref: '#/components/parameters/CreatedAtLteQuery'
        - $ref: '#/components/parameters/UpdatedAtGteQuery'
        - $ref: '#/components/parameters/UpdatedAtLteQuery'
        - name: reference_id
          in: query
          description: Filter to notifications about one resource id
          schema:
            type: string
        - name: category
          in: query
          description: |
            Filter by webhook category (e.g. `payment_lifecycle`). Unknown
            values are rejected. `reference_module` is the legacy alias.
          schema:
            type: string
        - name: reference_module
          in: query
          description: Legacy alias of `category`.
          schema:
            type: string
        - name: event
          in: query
          description: |
            Filter by exact wire event value (e.g. `payment.succeeded`).
            Unknown values are rejected — see GET /merchant/webhooks/event-types.
          schema:
            type: string
        - name: status
          in: query
          description: |
            Filter by aggregate delivery status. `dead_lettered` is the §2.9.6
            Path A recovery listing (replay via the replay endpoint).
          schema:
            type: string
            enum:
              - pending
              - delivered
              - dead_lettered
        - name: webhook_id
          in: query
          description: Filter to notifications addressed to one webhook registration.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - has_more
                          - notification_list
                        properties:
                          has_more:
                            type: boolean
                            description: |
                              True if more records exist beyond this page in the
                              requested direction.
                          count:
                            type: integer
                            description: |
                              Total records matching the active filters. Present
                              only when at least one non-time filter is supplied;
                              omitted on broad time-windowed scans.
                          notification_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/WebhookNotification'
  /api/v1/merchant/webhooks/notifications/{id}:
    get:
      operationId: getWebhookNotification
      summary: Get webhook notification details
      description: Get details of a specific webhook notification event.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Notification id — `evt_<uuid>` or bare `<uuid>` (dual-accepted).
          schema:
            type: string
            pattern: ^(evt_)?[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      responses:
        '200':
          description: Notification details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookNotification'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/webhooks/notifications/{id}/replay:
    post:
      operationId: replayWebhookNotification
      summary: Replay a webhook notification
      description: |
        Queue a fresh delivery of a stored notification to its recorded
        receivers (§2.9.9). Async: the 202 reports acceptance; delivery
        outcomes surface in the notification's `delivery_attempts[]` with
        `is_replay: true`. The envelope `id` is unchanged (merchants dedupe
        on it); a fresh `CrowdSplit-Timestamp` + `CrowdSplit-Signature` is
        computed at dispatch. Does not re-enter the automatic retry schedule.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Notification id — `evt_<uuid>` or bare `<uuid>` (dual-accepted).
          schema:
            type: string
            pattern: ^(evt_)?[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      responses:
        '202':
          description: Notification replay queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - notification_id
                          - replay_attempt_at
                        properties:
                          notification_id:
                            type: string
                            pattern: ^(evt_)?[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                            description: Envelope id (`evt_<uuid>`); dual-accepted on input.
                          replay_attempt_at:
                            type: string
                            format: date-time
                            description: When the replay was accepted/queued.
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          description: The notification has no delivery targets to replay to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: getMerchant
      summary: Get a merchant
      description: Retrieve a single merchant the authenticated user is a member of.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Merchant retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateMerchant
      summary: Update merchant settings
      description: |
        Update business details on a merchant. Requires the `merchant:settings`
        permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                legal_name:
                  type: string
                address:
                  type: string
                website:
                  type: string
                tax_number:
                  type: string
      responses:
        '200':
          description: Merchant updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/{id}/audit-log:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/LimitQuery'
      - $ref: '#/components/parameters/OffsetQuery'
    get:
      operationId: listMerchantAuditLog
      summary: List merchant audit-log entries
      description: |
        Paginated audit trail of mutations performed within the merchant.
        Requires the `merchant:settings` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Audit-log page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                action:
                                  type: string
                                actorUserId:
                                  type: string
                                  nullable: true
                                targetType:
                                  type: string
                                  nullable: true
                                targetId:
                                  type: string
                                  nullable: true
                                metadata:
                                  type: object
                                  additionalProperties: true
                                  nullable: true
                                ipAddress:
                                  type: string
                                  nullable: true
                                userAgent:
                                  type: string
                                  nullable: true
                                createdAt:
                                  type: string
                                  format: date-time
                          total:
                            type: integer
                          limit:
                            type: integer
                          offset:
                            type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /api/v1/merchant/{id}/api-keys:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: listMerchantApiKeys
      summary: List merchant API keys
      description: Return API-key metadata (no secrets) for the merchant.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: API keys retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantApiKey'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createMerchantApiKey
      summary: Create a merchant API key
      description: |
        Mint a new API key pair. Allowed only when the merchant is `approved`
        and both STRIPE and BRIDGE provider configs are saved; otherwise 403.
        The secret key is returned exactly once in this response.
        Requires the `api_key:manage` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - label
              properties:
                label:
                  type: string
                  description: Human-readable label for the key
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/MerchantApiKey'
                          - type: object
                            properties:
                              secretKey:
                                type: string
                                description: Secret key — shown only once
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Merchant not approved, or provider configs incomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/{id}/api-keys/{key_id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
      - name: key_id
        in: path
        required: true
        description: Public API-key UID
        schema:
          type: string
          format: uuid
    delete:
      operationId: revokeMerchantApiKey
      summary: Revoke a merchant API key
      description: |
        Permanently revoke a specific API key. Requires the `api_key:manage`
        permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/team-invitations/accept:
    post:
      operationId: acceptTeamInvitation
      summary: Accept a team invitation
      description: |
        Public endpoint. Redeem a signed invitation token to create the invited
        user account, assign the invited role, and join the merchant team.
      tags:
        - Merchants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
              properties:
                token:
                  type: string
                  description: Signed invitation token from the invite email/link
                password:
                  type: string
                  description: Password to set on the newly created account
      responses:
        '200':
          description: Invitation accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            format: email
                          role:
                            type: string
        '400':
          description: Invalid or expired invitation token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: An account already exists for this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant/{id}/members:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: listMerchantMembers
      summary: List merchant team members
      description: Return active members of the merchant team with their roles.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Members retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            userId:
                              type: string
                              nullable: true
                            email:
                              type: string
                              format: email
                              nullable: true
                            roles:
                              type: array
                              items:
                                type: string
                            joinedAt:
                              type: string
                              format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/merchant/{id}/members/{memberId}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
      - name: memberId
        in: path
        required: true
        description: Public user UID of the member to remove
        schema:
          type: string
          format: uuid
    delete:
      operationId: removeMerchantMember
      summary: Remove a team member
      description: |
        Deactivate a member's merchant membership. Cannot remove the last
        Platform Admin (422). Requires the `team:invite` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          userId:
                            type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          description: Cannot remove the last Platform Admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/{id}/invitations:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: listMerchantInvitations
      summary: List team invitations
      description: List invitations for the merchant, optionally filtered by status.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by invitation status
          schema:
            type: string
            enum:
              - PENDING
              - ACCEPTED
              - CANCELLED
      responses:
        '200':
          description: Invitations retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantInvitation'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createMerchantInvitation
      summary: Invite a team member
      description: |
        Invite a new member by email. Role defaults to Platform User when
        omitted. Returns 409 (generic) if the email already has an account or a
        pending invitation. Requires the `team:invite` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  description: Role to grant on acceptance (defaults to Platform User)
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/MerchantInvitation'
                          - type: object
                            properties:
                              token:
                                type: string
                                description: Invitation token — only returned in DEV/TEST
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Email already has an account or a pending invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/{id}/invitations/{invitationId}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
      - name: invitationId
        in: path
        required: true
        description: Public invitation UID
        schema:
          type: string
          format: uuid
    delete:
      operationId: cancelMerchantInvitation
      summary: Cancel a team invitation
      description: |
        Cancel a pending invitation. Requires the `team:invite` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Invitation cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantInvitation'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Invitation is not in a cancellable (pending) state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/{id}/activation:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: getMerchantActivation
      summary: Get activation status and history
      description: Return the merchant's current activation status and review history.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Activation status retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          activationStatus:
                            type: string
                          history:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: submitMerchantActivation
      summary: Submit (or resubmit) for activation review
      description: |
        Resubmit the merchant for CS review after a rejection or change request.
        Requires the `activation:submit` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Activation submitted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          activationStatus:
                            type: string
                          submittedAt:
                            type: string
                            format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Cannot submit from the current activation state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/{id}/platform-configs:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
    get:
      operationId: listMerchantPlatformConfigs
      summary: List provider configs
      description: List the merchant's saved provider (STRIPE/BRIDGE) configurations.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Provider configs retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantProviderConfig'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createMerchantPlatformConfig
      summary: Save a provider config
      description: |
        Save provider credentials for STRIPE or BRIDGE. Allowed only after the
        merchant is approved. The backend registers the provider's webhook
        endpoint(s) using the supplied credentials, captures the signing
        secret(s), stores them encrypted, and returns them once in this
        response. The request does not include any webhook secret. Requires the
        `provider_config:write` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - platform
                - config
              properties:
                platform:
                  type: string
                  enum:
                    - STRIPE
                    - BRIDGE
                config:
                  type: object
                  description: Provider credentials (shape varies by platform)
                  additionalProperties: true
      responses:
        '200':
          description: Provider config saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantProviderConfigSaveResult'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Merchant not approved, or missing permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/{id}/platform-configs/{platform}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public merchant UID
        schema:
          type: string
          format: uuid
      - name: platform
        in: path
        required: true
        description: Provider identifier
        schema:
          type: string
          enum:
            - STRIPE
            - BRIDGE
    get:
      operationId: getMerchantPlatformConfig
      summary: Get a provider config
      description: |
        Retrieve a single provider config. Provider credentials are redacted.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Provider config retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantProviderConfig'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateMerchantPlatformConfig
      summary: Update a provider config
      description: |
        Update provider credentials. Re-registers webhooks and returns the new
        signing secret(s) once. Requires the `provider_config:write` permission.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - config
              properties:
                config:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Provider config updated
          content:
            application/json:
              schema:
                allOf:
[...]
