openapi: 3.1.0
info:
  title: CrowdSplit API
  version: 1.0.0
  description: |
    CrowdSplit is a payment-orchestration API that routes payment,
    payout, transfer, buy/sell, KYC, and wallet operations across
    multiple upstream providers (Stripe, Bridge, and others) behind a
    single merchant-facing contract.

    ## Authentication

    Three auth schemes are in use:

    - **`bearerAuth`** — a JWT issued via `POST /api/v1/merchant/token/grant`
      using your `client_id` + `client_secret`. Pass as
      `Authorization: Bearer <token>`. This is the default for every
      merchant-facing operation unless an operation documents otherwise.
    - **`accessTokenAuth`** — user-scoped JWT (obtained via
      `POST /api/auth/signin`) passed in the `x-access-token` header.
      Used for admin/internal operations.
    - **`refAppKeyAuth`** — subscription-service shared key passed in
      the `Ref-App-Key` header, combined with `Payment-Type: recurring_payment`.
      Used only for recurring-payment flows.

    ## Webhooks

    CrowdSplit delivers webhooks as `POST` requests to merchant-registered
    URLs. Every delivery carries the envelope
    `{ id, event, category, data }` and two HTTP headers:

    - `CrowdSplit-Signature` — HMAC-SHA256 over the raw body, formatted
      as `t={unix-ts},v1={hex-hmac}`. Verify with the secret returned at
      webhook registration.
    - `CrowdSplit-Timestamp` — seconds since epoch at dispatch. Reject
      if the skew exceeds 5 minutes.

    Use the envelope's `id` for idempotency — the same `id` is used for
    all retry attempts of a given notification.

    Failed deliveries are retried on a linear schedule controlled by the
    `WEBHOOK_MAXIMUM_RETRY_COUNT` and `WEBHOOK_RETRY_INTERVAL` deployment
    settings. The *n*-th retry is scheduled
    `n × WEBHOOK_RETRY_INTERVAL × 60` seconds after the previous failed
    attempt, and retries stop once `n × WEBHOOK_RETRY_INTERVAL` exceeds
    `WEBHOOK_MAXIMUM_RETRY_COUNT`. Total delivery attempts equal
    `floor(WEBHOOK_MAXIMUM_RETRY_COUNT / WEBHOOK_RETRY_INTERVAL) + 1`.

    With the reference configuration
    (`WEBHOOK_MAXIMUM_RETRY_COUNT=15`, `WEBHOOK_RETRY_INTERVAL=5`) this
    yields **4 total delivery attempts**, with retries scheduled 5, 10,
    and 15 minutes after each preceding failure. After the final attempt
    the notification is left un-acknowledged and no further attempts are
    made.

    ## Pagination

    List endpoints accept `limit` and `offset` query parameters. The
    response envelope is `{ count, <resource>_list }`. Default and
    maximum `limit` values vary per resource; see each endpoint.

    ## Errors

    Every 4xx/5xx response uses the shared `ApiErrorResponse` schema:
    `{ msg, data: null, provider_message? }`. `provider_message` is
    present only when the failure originated from an upstream provider,
    and forwards the provider's own error text verbatim.

    ## Environments

    The `servers` list below describes production, sandbox, and local
    environments. Override the server URL in your client or via the
    generated Postman / Bruno collections.
  contact:
    name: CrowdSplit Engineering
    url: https://github.com/oak-network/crowdsplit
  license:
    name: ISC
servers:
  - url: https://api.crowdsplit.com
    description: Production
  - url: https://sandbox-api.crowdsplit.com
    description: Sandbox
  - url: '{baseUrl}'
    description: Local development / self-hosted
    variables:
      baseUrl:
        default: http://localhost:3000
        description: Base URL of a locally running CrowdSplit instance
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: |
      Sign up, sign in, token refresh, password reset, and email
      verification. Obtain user-scoped `accessTokenAuth` JWTs here.
  - name: Merchants
    description: |
      Merchant profile, API-key management, merchant-token grant/refresh,
      and merchant-webhook registration/listing/toggling.
  - name: Customers
    description: |
      Create, update, list, and sync end-customers (subjects).
      Covers customer-level files and balances.
  - name: Payment Methods
    description: |
      Add, list, retrieve, and archive payment methods on a customer
      (card, PIX, bank account, wallet, etc.).
  - name: Provider Registration
    description: |
      KYC / provider-registration flow for a customer on each upstream
      provider, plus fetching the field schema and polling status.
  - name: Payments
    description: |
      Create payments, confirm / capture / cancel / refund. Supports
      card, PIX, and installment payments across providers.
  - name: Payouts
    description: Create outbound fiat payments to customer-owned accounts.
  - name: Transfers
    description: Move value between internal wallets.
  - name: Buy / Sell
    description: Stablecoin / fiat buy and sell flows.
  - name: Wallets
    description: Read wallet balances and trigger wallet trades.
  - name: Transactions
    description: Read transaction history, single transactions, and settle.
  - name: Disputes
    description: |
      Manage provider-originated disputes — upload evidence, submit,
      and close.
  - name: Subscriptions
    description: |
      Subscription plans and subscriber lifecycle, including recurring
      payment initiation (uses `refAppKeyAuth`).
  - name: Tax
    description: Calculate taxes for a given transaction shape.
  - name: Files
    description: Upload, list, retrieve, and delete merchant/customer files.
  - name: Generic
    description: |
      Proxy endpoint that forwards provider-specific calls whose shape
      varies by upstream provider.
  - name: System
    description: Health check and service-metadata endpoints.
  - name: Webhooks
    description: |
      Manage the webhook URLs registered on a merchant (create, update,
      delete, toggle, and list).
  - name: Webhook Events
    description: |
      Reference list of every webhook event CrowdSplit can deliver to a
      merchant URL. See the root-level `Webhooks` section above for the
      envelope shape, delivery headers, retry policy, and signing scheme.
paths:
  /api/auth/signup:
    post:
      operationId: signup
      summary: User sign up
      description: Register a new user account with email and password. A verification email is sent upon successful registration.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: user@example.com
                password:
                  type: string
                  description: User's password
                  example: SecurePass123!
      responses:
        '200':
          description: User created successfully and verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: User Created Successfully!, Created email verification token!, Verification link emailed to user!, User Created Successfully!
                data: null
        '400':
          description: User already exists or email delivery failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/signup/verify-email:
    get:
      operationId: verifySignupEmail
      summary: Verify email address
      description: Verifies the user's email address using a token sent during signup.
      tags:
        - Auth
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: JWT verification token sent to the user's email
          schema:
            type: string
      responses:
        '200':
          description: Email verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Email Verification Successful!
                data: null
        '400':
          description: Invalid or expired token, or email already verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/signup/verify-email/resend:
    post:
      operationId: resendVerificationEmail
      summary: Resend verification email
      description: Resends the email verification link to the specified email address.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to resend verification to
                  example: user@example.com
      responses:
        '200':
          description: Verification email resent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Email Verification Token Updated!, Sent Verification Email!
                data: null
        '400':
          description: Email delivery failed or token error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/signin:
    post:
      operationId: signin
      summary: Sign in
      description: Authenticate a user with email, password, and role. Returns JWT access and refresh tokens.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - role
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: user@example.com
                password:
                  type: string
                  description: User's password
                  example: SecurePass123!
                role:
                  type: string
                  description: Role to sign in as
                  enum:
                    - ROLE_ADMIN
                    - ROLE_PLATFORM_ADMIN
                    - ROLE_PLATFORM_USER
                  example: ROLE_PLATFORM_ADMIN
      responses:
        '200':
          description: Sign in successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Sign In Successful!
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: User ID
                          email:
                            type: string
                            format: email
                          accessToken:
                            type: string
                            description: JWT access token
                          refreshToken:
                            type: string
                            description: JWT refresh token
                          createdMillis:
                            type: integer
                            description: User creation timestamp in milliseconds
        '400':
          description: Email not verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/token/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Generate a new access token and refresh token using a valid refresh token.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: JWT refresh token obtained from sign in
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Successfully Created New Refresh Token!
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                            description: New JWT access token
                          refreshToken:
                            type: string
                            description: New JWT refresh token
        '400':
          description: Refresh token expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/token/validate:
    post:
      operationId: validateToken
      summary: Validate access token
      description: Check whether an access token is valid and not expired. Token can be passed via x-access-token header or query parameter.
      tags:
        - Auth
      security:
        - accessTokenAuth: []
      parameters:
        - name: x_access_token
          in: query
          required: false
          description: Access token (alternative to x-access-token header)
          schema:
            type: string
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Token is Valid!
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: User ID associated with the token
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /api/auth/reset-password:
    post:
      operationId: resetPassword
      summary: Request password reset
      description: Send a password reset link to the provided email address.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address associated with the account
                  example: user@example.com
      responses:
        '200':
          description: Password reset link sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Reset password link emailed to user!
                data: null
        '400':
          description: Email delivery failed or reset already requested recently
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/auth/reset-password/token-verify:
    get:
      operationId: verifyResetPasswordToken
      summary: Verify password reset token
      description: Check whether a password reset token is valid and not expired.
      tags:
        - Auth
      security: []
      parameters:
        - name: resetPasswordToken
          in: query
          required: true
          description: Reset password token sent to user's email
          schema:
            type: string
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Token is Valid!
                data: null
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/auth/update-password:
    post:
      operationId: updatePassword
      summary: Update password
      description: Set a new password using a valid reset password token.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_password
                - reset_password_token
              properties:
                new_password:
                  type: string
                  description: The new password to set
                reset_password_token:
                  type: string
                  description: Reset password token from email
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Password Updated Successfully!
                data: null
        '400':
          description: Invalid token or server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/payments:
    post:
      operationId: createPayment
      summary: Create a payment
      description: |
        Create a payment intent with the provided details. Supports multiple payment providers
        (Stripe) and payment methods (Card).

        The request body structure varies by provider and payment method type.
        Field casing note: `provider`, `currency`, `payment_method.type`, and `capture_method`
        are case-insensitive on input (automatically uppercased internally).
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RefAppKeyHeader'
        - $ref: '#/components/parameters/PaymentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              stripeCard:
                summary: Stripe card payment
                value:
                  provider: stripe
                  source:
                    amount: 5000
                    currency: usd
                    customer:
                      id: 550e8400-e29b-41d4-a716-446655440000
                    payment_method:
                      type: card
                      id: 660e8400-e29b-41d4-a716-446655440000
                    capture_method: automatic
                  confirm: true
                  metadata:
                    order_id: ORD-12345
      responses:
        '200':
          description: Payment created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction was Initiated Successfully!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Validation error or invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/payments/{id}/confirm:
    post:
      operationId: confirmPayment
      summary: Confirm a payment
      description: Confirm a previously created payment intent that was not auto-confirmed.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment confirmed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction is in Progress!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid state for confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/capture:
    post:
      operationId: capturePayment
      summary: Capture a payment
      description: Capture a previously authorized payment (for manual capture_method payments).
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment captured
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Payment captured successfully
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Error capturing payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/cancel:
    post:
      operationId: cancelPayment
      summary: Cancel a payment
      description: |
        Cancel a payment that is in INITIATED status. Only PAYMENT type transactions
        can be cancelled; other transaction types will return an error.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction cancellation successful
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid state or wrong transaction type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/payments/{id}/refund:
    post:
      operationId: refundPayment
      summary: Refund a payment
      description: |
        Create a refund for a completed payment. Partial refunds are supported by
        specifying an amount less than the original. Total refund amount (including
        previous refunds) cannot exceed the original transaction amount.
      tags:
        - Payments
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment transaction ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                  description: Refund amount in smallest currency unit. Omit for full refund.
                metadata:
                  type: object
                  description: Additional metadata for the refund
                  additionalProperties: true
            example:
              amount: 2500
              metadata:
                reason: Customer request
      responses:
        '200':
          description: Refund initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: Transaction was Initiated Successfully!
                      data:
                        $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Refund amount exceeds original or invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant:
    post:
      operationId: createMerchant
      summary: Create a merchant account
      description: Create a new merchant with the provided business details.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchantRequest'
            example:
              legal_name: Acme Corp
              address: 123 Business St, Suite 100
              website: https://acme.example.com
              tax_number: '12345678901'
      responses:
        '200':
          description: Merchant created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MerchantResponse'
        '400':
          description: Validation error or merchant already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant/key/create:
    get:
      operationId: createMerchantKey
      summary: Create merchant API keys
      description: Generate API key pair (public + secret) for a merchant. The secret key is only shown once.
      tags:
        - Merchants
      security:
        - accessTokenAuth: []
      responses:
        '200':
          description: Keys generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          secretKey:
                            type: string
                            description: Secret key (only shown once, store securely)
                          publicKey:
                            type: string
                            description: Public key
        '400':
          description: Error generating keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/token/grant:
    post:
      operationId: grantMerchantToken
      summary: Grant merchant token
      description: |
        Authenticate using client credentials to obtain a Bearer token for API access.
        This is the primary authentication method for merchant API calls.
      tags:
        - Merchants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantTokenRequest'
            example:
              client_id: app_abc123
              client_secret: sk_live_xyz789
              grant_type: client_credentials
      responses:
        '200':
          description: Token granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTokenResponse'
              example:
                access_token: eyJhbGciOiJIUzI1NiIs...
                token_type: Bearer
                expires_in: 3600000
        '404':
          description: Merchant not found or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/merchant/token/refresh:
    post:
      operationId: refreshMerchantToken
      summary: Refresh merchant token
      description: Generate new access and refresh tokens using a valid refresh token.
      tags:
        - Merchants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Refresh token from previous grant or refresh
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
        '400':
          description: Token expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/util/transfer-date:
    post:
      operationId: calculateTransferDate
      summary: Calculate transfer date
      description: Calculate the next available transfer date based on settlement date, region, and holiday configuration.
      tags:
        - Merchants
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferDateRequest'
      responses:
        '200':
          description: Transfer date calculated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transferDate:
                            type: string
                            format: date-time
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      description: List all registered webhooks for the authenticated merchant.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookResponse'
    post:
      operationId: registerWebhook
      summary: Register a webhook
      description: Register a new webhook endpoint for the merchant. Returns a signing secret for payload verification.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWebhookRequest'
            example:
              url: https://example.com/webhooks/crowdsplit
              description: Production webhook endpoint
      responses:
        '200':
          description: Webhook registered. Secret is only shown once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          secret:
                            type: string
                            description: Signing secret for HMAC-SHA256 verification
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/merchant/webhooks/{id}:
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Get details of a specific webhook by ID.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateWebhook
      summary: Update a webhook
      description: Update the URL or description of an existing webhook.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: |
        Remove a registered webhook URL. New events for this merchant
        will no longer be dispatched to the deleted URL. Notifications
        already queued on the broker at the moment of deletion continue
        through their retry schedule until acknowledged or exhausted —
        the delete does not purge in-flight deliveries.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/webhooks/{id}/toggle:
    patch:
      operationId: toggleWebhookStatus
      summary: Toggle webhook active status
      description: |
        Flip a registered webhook between active and inactive states
        without deleting it. Useful for planned merchant-side maintenance
        windows or temporarily silencing a noisy endpoint. Inactive
        webhooks receive no new dispatches; deliveries already queued
        before the toggle may still fire once before the state takes
        effect.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook status toggled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/merchant/webhooks/notifications:
    get:
      operationId: listWebhookNotifications
      summary: List webhook notifications
      description: List all webhook notification events for the merchant with pagination.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
                            description: Total notification count
                          notification_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/WebhookNotification'
  /api/v1/merchant/webhooks/notifications/{id}:
    get:
      operationId: getWebhookNotification
      summary: Get webhook notification details
      description: Get details of a specific webhook notification event.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookNotification'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers:
    post:
      operationId: createCustomer
      summary: Create a customer
      description: |
        Register a new customer. Fields document_type, country_code, and gender
        are case-insensitive (uppercased internally, returned lowercased).
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            example:
              document_number: '12345678901'
              document_type: cpf
              email: customer@example.com
              first_name: John
              last_name: Doe
              dob: '1990-01-15'
              phone_country_code: '+55'
              phone_area_code: '11'
              phone_number: '999999999'
              country_code: br
      responses:
        '200':
          description: Customer created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CustomerResponse'
        '400':
          description: Validation error or customer already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      operationId: listCustomers
      summary: List all customers
      description: |
        Retrieve a paginated list of customers for the authenticated merchant.
        Query parameters for filtering are case-insensitive (uppercased internally).
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - name: target_role
          in: query
          description: Comma-separated roles to filter by (case-insensitive)
          schema:
            type: string
        - name: provider_registration_status
          in: query
          description: Comma-separated provider registration statuses (case-insensitive)
          schema:
            type: string
        - name: provider
          in: query
          description: Comma-separated provider names (case-insensitive)
          schema:
            type: string
        - name: email
          in: query
          description: Comma-separated email addresses to filter by
          schema:
            type: string
        - name: document_type
          in: query
          description: Comma-separated document types (case-insensitive)
          schema:
            type: string
        - name: country_code
          in: query
          description: Comma-separated country codes (case-insensitive)
          schema:
            type: string
        - name: strict
          in: query
          description: Enforce limit restrictions
          schema:
            type: boolean
      responses:
        '200':
          description: Customer list
          headers:
            X-Limit-Requested:
              description: Requested limit value
              schema:
                type: integer
            X-Limit-Applied:
              description: Applied limit value
              schema:
                type: integer
            X-Offset-Requested:
              description: Requested offset value
              schema:
                type: integer
            X-Offset-Applied:
              description: Applied offset value
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
                            description: Total customer count
                          customer_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/CustomerResponse'
  /api/v1/customers/{id}:
    get:
      operationId: getCustomer
      summary: Get customer details
      description: Retrieve details for a specific customer.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CustomerResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateCustomer
      summary: Update a customer
      description: Update customer details. All fields are optional.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CustomerResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers/{id}/sync:
    post:
      operationId: syncCustomer
      summary: Sync customer data
      description: Trigger a sync of specified fields with an external provider.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncCustomerRequest'
            example:
              providers:
                - stripe
              fields:
                - email
                - phone
      responses:
        '200':
          description: Sync scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: Sync scheduled
                data: null
        '400':
          description: Invalid provider or fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers/{customer_id}/balances:
    get:
      operationId: getCustomerBalances
      summary: Get customer balances
      description: Retrieve available and pending balances for a customer across providers.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: provider
          in: query
          description: Comma-separated provider names (case-insensitive)
          schema:
            type: string
        - name: role
          in: query
          description: Comma-separated roles (case-insensitive)
          schema:
            type: string
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BalanceResponse'
        '400':
          description: Invalid customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers/{customer_id}/files:
    post:
      operationId: uploadCustomerFiles
      summary: Upload customer files
      description: Upload identity or address verification documents for a customer.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file (max 5MB)
                file_type:
                  type: string
                  description: Document type
                  enum:
                    - SSN_BACK
                    - SSN_FRONT
                    - CPF_DOCUMENT
                    - PASSPORT
                    - ADDRESS_PROOF
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                msg: file upload successful
                data: null
        '400':
          description: Invalid file or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    get:
      operationId: getCustomerFiles
      summary: Get customer files
      description: Retrieve uploaded files for a customer with presigned download URLs.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            fileType:
                              type: string
                            url:
                              type: string
                              description: Presigned S3 URL (temporary)
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers/{customer_id}/payment_methods:
    post:
      operationId: createPaymentMethod
      summary: Add a payment method
      description: |
        Create a payment method for a customer. Fields type, provider, currency,
        chain, and bank_account_type are case-insensitive.
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        '200':
          description: Payment method created
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/PaymentMethodResponse'
                  provider_message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
            examples:
              bankAccount:
                summary: Bank account payment method
                value:
                  type: bank
                  provider: crowd_split
                  bank_details:
                    account_number: '12345678'
                    account_name: John Doe
                    bank_name: Banco do Brasil
                    branch_code: '0001'
                    account_type: checking
                    ispb: '00000000'
    get:
      operationId: listPaymentMethods
      summary: List payment methods
      description: List all payment methods for a customer.
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          description: Filter by payment method type (case-insensitive)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status (case-insensitive)
          schema:
            type: string
        - name: provider
          in: query
          description: Filter by provider (case-insensitive)
          schema:
            type: string
      responses:
        '200':
          description: Payment method list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentMethodResponse'
  /api/v1/customers/{customer_id}/payment_methods/{id}:
    get:
      operationId: getPaymentMethod
      summary: Get payment method details
      description: Get details of a specific payment method.
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment method details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentMethodResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updatePaymentMethod
      summary: Update a payment method
      description: |
        Replace mutable fields on a saved payment method — typically
        customer-visible label, default-flag, or billing-address metadata.
        Provider-issued identifiers such as `card_token` and on-chain
        addresses are immutable; delete the payment method and re-create
        it to change those.
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '200':
          description: Payment method updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentMethodResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deletePaymentMethod
      summary: Delete a payment method
      description: Delete a payment method from a customer.
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment method deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/customers/{customer_id}/platforms:
    post:
      operationId: populateKycData
      summary: Submit platform registration data
      description: Submit KYC/provider registration data for a customer on a specific provider platform.
      tags:
        - Provider Registration
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - target_role
              properties:
                provider:
                  type: string
                  description: Provider name (case-insensitive)
                target_role:
                  type: string
                  description: Target role for the provider registration
              additionalProperties: true
      responses:
        '200':
          description: Platform data submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  data:
                    type: array
                    description: |
                      Registration status for this customer across every
                      provider they are registered on, one entry per
                      `(provider, target_role)` pair. Same shape as
                      `GET /api/v1/provider-registration/{customer_id}/status`.
                    items:
                      type: object
                      properties:
                        provider:
                          type: string
                          description: Provider name (lowercased).
                        target_role:
                          type: string
                          description: Target role on this provider (lowercased).
                        status:
                          type: string
                          description: Current registration status (lowercased).
                        readiness:
                          type: object
                          nullable: true
                          description: Provider-specific readiness flags (JSONB pass-through).
                          additionalProperties: true
                        rejection_reason:
                          type: string
                          nullable: true
                          description: Human-readable rejection reason when rejection-like.
                      additionalProperties: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/transactions:
    get:
      operationId: listTransactions
      summary: List transactions
      description: |
        Retrieve a paginated list of transactions for the merchant.
        Query filter values are case-insensitive (uppercased internally).
        Response fields status, type, provider, currency, payment_method are returned lowercased.
      tags:
        - Transactions
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - name: type_list
          in: query
          description: Comma-separated transaction types (case-insensitive)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status (case-insensitive)
          schema:
            type: string
        - name: payment_method
          in: query
          description: Filter by payment method type (case-insensitive)
          schema:
            type: string
        - name: source_currency
          in: query
          description: Filter by source currency (case-insensitive)
          schema:
            type: string
        - name: destination_currency
          in: query
          description: Filter by destination currency (case-insensitive)
          schema:
            type: string
        - name: provider
          in: query
          description: Filter by provider (case-insensitive)
          schema:
            type: string
      responses:
        '200':
          description: Transaction list
          headers:
            X-Limit-Requested:
              schema:
                type: integer
            X-Limit-Applied:
              schema:
                type: integer
            X-Offset-Requested:
              schema:
                type: integer
            X-Offset-Applied:
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
                          transaction_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/TransactionResponse'
  /api/v1/transactions/{id}:
    get:
      operationId: getTransaction
      summary: Get transaction details
      description: Retrieve details of a single transaction.
      tags:
        - Transactions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/transactions/{id}/settle:
    patch:
      operationId: settleTransaction
      summary: Settle a transaction
      description: Mark a transaction as settled. Requires app-key authentication.
      tags:
        - Transactions
      security: []
      parameters:
        - name: id
          in: path
          required: true
          description: Transaction UID
          schema:
            type: string
            format: uuid
        - name: app-key
          in: header
          required: true
          description: Application key for settlement authorization
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - charge_id
                    - amount
                    - status
                  properties:
                    charge_id:
                      type: string
                      description: Provider charge identifier
                    amount:
                      type: integer
                      description: Settlement amount in smallest currency unit
                    status:
                      type: string
                      example: SETTLED
      responses:
        '200':
          description: Transaction settled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Settlement failed or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/outbound_payments:
    post:
      operationId: createPayout
      summary: Create an outbound payment
      description: Initiate a payout/outbound payment to a customer's payment method.
      tags:
        - Payouts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_method_id
                - amount
                - currency
                - customer_id
              properties:
                payment_method_id:
                  type: string
                  format: uuid
                  description: Target payment method ID
                amount:
                  type: integer
                  minimum: 1
                  description: Amount in smallest currency unit
                currency:
                  type: string
                  enum:
                    - USD
                    - BRL
                  description: Currency code
                customer_id:
                  type: string
                  format: uuid
                  description: Customer ID
                metadata:
                  type: object
                  description: Custom metadata
                  additionalProperties: true
            example:
              payment_method_id: 660e8400-e29b-41d4-a716-446655440000
              amount: 50000
              currency: BRL
              customer_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Payout initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Invalid request or payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Customer or payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/transfer:
    post:
      operationId: createTransfer
      summary: Create a transfer
      description: |
        Initiate a transfer between accounts. Supports single-provider and inter-platform transfers.
        Fields provider, currency, payment_method.type are case-insensitive.
      tags:
        - Transfers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
                - destination
              properties:
                provider:
                  type: string
                  description: Provider for single-provider transfers (case-insensitive)
                source:
                  type: object
                  description: Source account details
                  properties:
                    provider:
                      type: string
                      description: Source provider (for inter-platform transfers)
                    currency:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                    amount:
                      type: integer
                      minimum: 1
                destination:
                  type: object
                  description: Destination account details
                  properties:
                    provider:
                      type: string
                      description: Destination provider (for inter-platform transfers)
                    customer:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                    payment_method:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                          format: uuid
                        currency:
                          type: string
                        chain:
                          type: string
                metadata:
                  type: object
                  description: Custom metadata
                  additionalProperties: true
      responses:
        '200':
          description: Transfer initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Invalid request or platform error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/transfer/webhook:
    post:
      operationId: sendTransferWebhook
      summary: Send transfer webhook (dev)
      description: Manually trigger a webhook for a transfer. Intended for development/testing.
      tags:
        - Transfers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transfer_id
                - status
              properties:
                transfer_id:
                  type: string
                  format: uuid
                  description: Transfer transaction UUID
                status:
                  type: string
                  description: Status to set
      responses:
        '200':
          description: Webhook sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: webhook sent successfully
                      data:
                        type: 'null'
        '400':
          description: Error sending webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /api/v1/buy:
    post:
      operationId: createBuy
      summary: Create a buy transaction
      description: |
        Initiate a cryptocurrency/asset buy transaction.
        Fields provider, currency, payment_method.type are case-insensitive.
      tags:
        - Buy / Sell
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - source
              properties:
                provider:
                  type: string
                  description: Provider name (case-insensitive)
                source:
                  type: object
                  properties:
                    amount:
                      type: integer
                      minimum: 1
                    currency:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                    payment_method:
                      type: object
                      properties:
                        type:
                          type: string
                destination:
                  type: object
                  properties:
                    currency:
                      type: string
                    payment_method:
                      type: object
                      properties:
                        type:
                          type: string
                        chain:
                          type: string
                metadata:
                  type: object
                  description: |
                    Merchant-supplied arbitrary metadata, stored with the
                    transaction and echoed back on derived webhook deliveries.
                    Shape is defined by the merchant at request time.
                  additionalProperties: true
      responses:
        '200':
          description: Buy transaction initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/wallets/{customer_id}/balance:
    get:
      operationId: getWalletBalance
      summary: Get trading wallet balance
      description: Retrieve the trading wallet balance for a customer.
      tags:
        - Wallets
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Wallet balance
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        description: Trading wallet balance information
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /api/v1/wallets/trades/buy:
    post:
      operationId: createWalletBuy
      summary: Create a wallet buy trade
      description: Initiate a buy trade through the wallet interface.
      tags:
        - Wallets
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - provider
                - payment_method
                - currency
                - customer_id
              properties:
                amount:
                  type: integer
                  minimum: 1
                provider:
                  type: string
                payment_method:
                  type: string
                currency:
                  type: string
                customer_id:
                  type: string
                  format: uuid
                metadata:
                  type: object
                  description: |
                    Merchant-supplied arbitrary metadata, stored with the
                    transaction and echoed back on derived webhook deliveries.
                    Shape is defined by the merchant at request time.
                  additionalProperties: true
      responses:
        '200':
          description: Buy trade initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/disputes:
    get:
      operationId: listDisputes
      summary: List disputes
      description: Retrieve a paginated list of disputes for the merchant.
      tags:
        - Disputes
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - name: strict
          in: query
          description: Enforce limit restrictions
          schema:
            type: boolean
      responses:
        '200':
          description: Dispute list
          headers:
            X-Limit-Requested:
              schema:
                type: integer
            X-Limit-Applied:
              schema:
                type: integer
            X-Offset-Requested:
              schema:
                type: integer
            X-Offset-Applied:
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
                          dispute_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/DisputeResponse'
  /api/v1/disputes/{dispute_id}/evidence:
    put:
      operationId: updateDisputeEvidence
      summary: Upload dispute evidence
      description: Upload file and/or text evidence for a dispute. At least one of file_evidences or text_evidences is required.
      tags:
        - Disputes
      security:
        - bearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_evidences:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - type
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: File ID
                      type:
                        type: string
                        enum:
                          - receipt
                          - customer_signature
                          - shipping_documentation
                          - service_documentation
                          - refund_policy
                          - cancellation_policy
                          - uncategorized_file
                text_evidences:
                  type: array
                  items:
                    type: object
                    required:
                      - key
                      - value
                    properties:
                      key:
                        type: string
                        enum:
                          - customer_name
                          - customer_email_address
                          - customer_purchase_ip
                          - product_description
                          - duplicate_charge_id
                          - enhanced_evidence
                          - customer_communication
                          - refund_policy
                          - refund_policy_disclosure
                          - refund_refusal_explanation
                          - service_date
                          - shipping_address
                          - shipping_carrier
                          - shipping_date
                          - shipping_tracking_number
                          - shipping_tracking_url
                          - duplicate_charge_explanation
                          - cancellation_policy
                          - cancellation_rebuttal
                          - uncategorized_text
                      value:
                        type:
                          - string
                          - 'null'
      responses:
        '200':
          description: Evidence uploaded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DisputeResponse'
        '400':
          description: Invalid evidence data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/v1/disputes/{dispute_id}/submit:
    put:
      operationId: submitDispute
      summary: Submit dispute for review
      description: Mark the dispute as final and submit it to the provider for review.
      tags:
        - Disputes
      security:
        - bearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dispute submitted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DisputeResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/disputes/{dispute_id}/close:
    put:
      operationId: closeDispute
      summary: Close a dispute
      description: |
        Close the dispute by accepting the provider's outcome. Used when
        the merchant chooses not to contest (or to stop contesting). Once
        closed the dispute state is terminal — subsequent evidence uploads
        are no-ops. For the final funds-movement state, listen for the
        `payment.dispute.funds_withdrawn` or
        `payment.dispute.funds_reinstated` webhook event.
      tags:
        - Disputes
      security:
        - bearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dispute closed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DisputeResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/subscription/plans:
    get:
      operationId: listPlans
      summary: List subscription plans
      description: Retrieve all subscription plans for the merchant.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Plan list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PlanResponse'
    post:
      operationId: createPlan
      summary: Create a subscription plan
      description: |
        Define a recurring-payment plan template. `price` must be between
        100 and 10_000 and `currency` must be `USD`
        (`services/subscriptionService.js:18-29`). Plans are not eligible
        for subscriptions until they are published via
        `PATCH /api/v1/subscription/plans/{planId}/publish`.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
            example:
              name: Monthly Pro
              description: Monthly professional plan
              frequency: 30
              price: 2999
              currency: USD
              created_by: admin@example.com
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: plan created
                      data:
                        type: string
                        description: Plan hash ID
  /api/v1/subscription/plans/{planId}:
    get:
      operationId: getPlan
      summary: Get plan details
      description: Retrieve details of a specific subscription plan.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlanResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updatePlan
      summary: Update a plan
      description: Update plan properties. All fields are optional.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
      responses:
        '200':
          description: Plan updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: plan updated
                      data:
                        type: string
                        description: Plan hash ID
    delete:
      operationId: deletePlan
      summary: Delete a plan
      description: |
        Soft-delete a subscription plan. The record is retained so that
        existing subscribers continue through their current billing cycle
        with the plan's snapshotted terms; no new subscriptions can
        reference the plan after deletion. Hard removal requires ops
        intervention.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: plan deleted
                      data:
                        type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/subscription/plans/{planId}/publish:
    patch:
      operationId: publishPlan
      summary: Publish a plan
      description: Activate a plan so it can accept subscriptions.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan published
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      msg:
                        example: plan published
                      data:
                        type: string
  /api/v1/subscription/subscribe:
    post:
      operationId: subscribe
      summary: Subscribe to a plan
      description: Create a subscription for a customer to a plan.
      tags:
        - Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
[...]
